################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Otchi.Ebml/obj
/Otchi.Ebml/bin/Debug/netstandard2.1
/.vs/Otchi.Player
