################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Otchi.Ebml/obj
/Otchi.Ebml/bin/Debug/netstandard2.1
/.vs/Otchi.Player
/Otchi.Core/bin/Debug/netstandard2.1
/Otchi.Core/obj
/Otchi.Matroska/bin/Debug/netstandard2.1
/Otchi.Matroska/obj
/Otchi.Console/bin/Debug/netcoreapp3.0
/Otchi.Console/obj
*/obj/*
/Otchi.App/bin/Debug/netcoreapp3.1
/Otchi.AppFramework/bin/Debug
/Otchi.Video/bin/Debug/netcoreapp3.1
/Otchi.VideoFramework/bin/Debug
